.header{
    width: 100%;
    height: 100vh;
    background: center center no-repeat;
}
.header_inner{
    width: 100%;
    background: url(./bg.png) center top no-repeat;
}
.navbar{
    background: url(./bgnav.png) center center;
    color: white;
}
.navbar-brand{
    margin: 0 auto;
    color: white;
}
.navbar-brand span{
    color: white;
}
.navbar-brand b:hover{
    color: aliceblue;
}
.carousel-item{
    width: 100%;
    height: 100vh;
}
.img_carousel-item{
    background: rgba(0, 0, 0, 0.534);
}
.main{
    width: 100%;
    height: 218px;
    background: url(./mainbg.png) center center no-repeat;
    position: relative;
    top: 85px;
    display: block;
}
.main_inner{
    width: 100%;
    height: 218px;
    background-color: rgba(0, 0, 0, 0.297);
}
.nav{
    background-color: rgba(240, 248, 255, 0);
}
.alert{
    margin: 0;
    border-radius: 0;
}
.accordion{
    position: relative;
    top: -85px;
}
.accordion-button{
    border-radius: 0px;
}